<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Skymu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="netstandard2.0" />
		</assemblyBinding>
	</runtime>
	<userSettings>
		<Skymu.Properties.Settings>
   <setting name="WindowFrame" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="AutoLogin" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="BrandingName" serializeAs="String">
    <value>Skype</value>
   </setting>
   <setting name="ThemeRoot" serializeAs="String">
    <value>Light</value>
   </setting>
   <setting name="EmojiFps" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="EnableNotifications" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="BlueNotifications" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EnableSkypeHome" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UseClearType" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PresFrame" serializeAs="String">
    <value>Aero.NormalColor</value>
   </setting>
   <setting name="BuildVersion" serializeAs="String">
    <value>0.3.15</value>
   </setting>
   <setting name="BuildName" serializeAs="String">
    <value>Drocea Pumpkin Pie</value>
   </setting>
   <setting name="Language" serializeAs="String">
    <value>English</value>
   </setting>
   <setting name="StartOnStartup" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FallbackFillColors" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DynamicSidebarTabs" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SkypeEra" serializeAs="String">
    <value>Skyaeris</value>
   </setting>
   <setting name="Anonymize" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FirstRunCompleted" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DisablePingbacks" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MessageLogger" serializeAs="String">
    <value>False</value>
   </setting>
  </Skymu.Properties.Settings>
	</userSettings>
</configuration>
